.mentor-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    gap: 20px;
    border-top: 3px solid rgba(245, 72, 72, 0.991);
    border-radius: 20px 20px;
    margin-bottom: 60px;
    background: #f6d7da;
    /* border-bottom: 1px dashed rgba(245, 72, 72, 0.991); */

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.mentor-panel h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.mentor-panel h1::after {
    content: '';
    display: block;
    width: 80px;
    height: 4px;
    background-color: #ff5757;
    margin: 12px auto 0;
    border-radius: 2px;
}

.mentor-panel h1 span {
    color: #ff5757;
}

.mentor-panel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;

}

.mentor-panel-container .card {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(135deg, #ffffffb9 0%, #f9f9f9 100%);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);

}

.mentor-panel-container .card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mentor-panel-container .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
}

.mentor-panel-container .card h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
}

.mentor-panel-container .card p {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    text-align: center;
}