@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
.navbar-container {
    /* font-family: ; */
    font-family: 'Nunito', sans-serif;
    display: flex;
    position: fixed;
   /* horizontal middle */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 80%;
    background-color: #fff;
    padding: 18px 20px;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.08);

}

.navbar-logo {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    justify-content: center;
}

.navbar-logo img {
    height: 100px;
    /* width: 100px; */
}

.navbar-brand-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    line-height: 1;
    margin-left: -10px;
}

.brand-bold {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    letter-spacing: 0.5px;
    
    /*  */

}

.brand-tagline {
    font-size: 20px;
    color: #666;
    font-weight: 400;
    letter-spacing: 0.5px;
    /* margin-top: 5px; */
    font-style: italic;

}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-right: 20px;
    margin-left: auto;

}

.navbar-links a,
.navbar-links .dropdown {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    /* padding: 10px 15px; */
    border-radius: 12px;
    transition: background 0.2s;
    padding: 0px 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 18px;;
}


.navbar-links a.active {
    color: #e60000;
    font-weight: 600;
}

.demo-button {
    background-color: #000;
    color: white;
    padding: 10px 18px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    transition: background 0.2s;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    margin-left: 20px;
    margin-right: 20px;

}

.demo-button:hover {
    background-color: #333;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.35);
    transform: translateY(-2px);
    transition: all 0.2s;
    
}

.demo-button:active {
    background-color: #000;
    color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
    transform: translateY(0);
    transition: all 0.2s;
}
/* .navbar-links a:hover {
    background-color: #f0f0f0;
} */

